<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.kuaikuaiyu.assistant"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--  GETUI        -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="getui.permission.GetuiService"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name=".app.AssistantApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- umeng key -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="573141c867e58eaa7f0018d7"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID"/>
        <!-- umeng key end -->

        <activity
            android:name=".ui.pass.splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.pass.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.pass.signup.SignUpActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.common.CommonActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.common.WebViewActivity"
            android:screenOrientation="portrait"/>
        <!--android:process="com.kuaikuaiyu.assistant.webview"-->

        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.setting.pwd.ChangePwdActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.income.IncomeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.account.BalanceActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.income.qrcode.QrcodeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.account.bindbank.ChooseCityActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.account.withdraw.WithdrawActivity"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".sys.receiver.MyPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}"/>
            </intent-filter>
        </receiver>

        <!--友盟更新 begin-->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService">
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <!--友盟更新 end-->
    </application>

</manifest>